:root {
  --background-color: linear-gradient(200deg, #ebf8e1, #f5efe8);
  --color: rgb(0, 0, 0);
  --button-color: #ffffff;
  --font-family: "Roboto", sans-serif;
  --button: #7b99a6;
  --Scroll-color: #aeada9;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-color);
  color: var(--color);
  font-family: var(--font-family);
}

button {
  color: var(--button-color);
}
